@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto/Roboto-Regular/Roboto-Regular.eot') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Regular/Roboto-Regular.woff') format('woff'),
  url('../fonts/roboto/Roboto-Regular/Roboto-Regular.ttf')  format('truetype'),
  url('../fonts/roboto/Roboto-Regular/Roboto-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/roboto/Roboto-Bold/Roboto-Bold.eot') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Bold/Roboto-Bold.woff') format('woff'),
  url('../fonts/roboto/Roboto-Bold/Roboto-Bold.ttf')  format('truetype'),
  url('../fonts/roboto/Roboto-Bold/Roboto-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/roboto/Roboto-Black/Roboto-Black.eot') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Black/Roboto-Black.woff') format('woff'),
  url('../fonts/roboto/Roboto-Black/Roboto-Black.ttf')  format('truetype'),
  url('../fonts/roboto/Roboto-Black/Roboto-Black.svg') format('svg');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/roboto/Roboto-Thin/Roboto-Thin.eot') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Thin/Roboto-Thin.woff') format('woff'),
  url('../fonts/roboto/Roboto-Thin/Roboto-Thin.ttf')  format('truetype'),
  url('../fonts/roboto/Roboto-Thin/Roboto-Thin.svg') format('svg');
}

@font-face {
  font-family: 'Molle-Regular';
  src: url('../fonts/molle/Molle-Regular.eot') format('embedded-opentype'),
  url('../fonts/molle/Molle-Regular.woff') format('woff'),
  url('../fonts/molle/Molle-Regular.ttf')  format('truetype'),
  url('../fonts/molle/Molle-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Streetwear';
  src: url('../fonts/streetwear/Streetwear.otf')  format('opentype'),
  url('../fonts/streetwear/Streetwear.ttf')  format('truetype');
}

@font-face {
  font-family: 'Myriadpro-Regular';
  src: url("../fonts/myriadpro/MyriadPro-Regular.otf") format('opentype'),
  url("../fonts/myriadpro/MyriadPro-Regular.ttf") format('truetype');
}
