@import 'modules/reset.scss';
@import 'modules/fonts.scss';
@import './mixins/mixins.scss';
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%}
body                            { padding:0; margin:0; background:#fff; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea,button {
  padding:0;
  margin:0;
  outline:none;
  list-style:none;
}
button                         { cursor: pointer; padding: 0; background-color: transparent; }
select, input, textarea,button { font:12px Tahoma, sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
/*a:link, a:visited            { !*font:12px Tahoma, sans-serif;*! color:#000; text-decoration:underline; }*/
a:hover                        { text-decoration:none; }
a {
  text-decoration: none;
  transition: 0.3s all ease-out;
  color: inherit;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPE---------------------------------------*/
/*----------------------------------------------------------------------------------*/

body {
  font-family: 'Roboto-Regular', sans-serif;
  @include font-size(16px);
  color: #fff;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
  transition: all ease 0.3s;
}

button:focus {
  outline: none;
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex !important;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.spacing {
  letter-spacing: .4rem;
}

.blue-text {
  color: $blue;
}

.blue-bg {
  background: $blue;
}

.gray-bg {
  background: $gray-bg;
}

.gray-text {
  color: $gray-text;
}

.main-button {
  line-height: 50px;
  padding: 0 50px;
  border: none;
  border-radius: 25px;
  background: #fff;
  color: #017dfb;
  cursor: pointer;
}

//Intro section
.intro {
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../img/intro_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.intro-text {
  text-align: center;
  p {
    margin-bottom: 3vh;
  }
}

.form-container {
  padding: 2vh 0;
  .container {
    include: display-flex;
    flex-direction: column;
    align-items: center;
  }
}

.search{
  transition: .3s ease-in-out;
  &:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, .5);
  }
}


.inputs-list {
  display: flex;
  align-item: center;
  align-items: center;
}

.city:before {
  background: url("../img/city.png") 50% 50% no-repeat;
}

.check-in:before {
  background: url("../img/check-in.png") 50% 50% no-repeat;
}

.check-out:before {
  background: url("../img/check-out.png") 50% 50% no-repeat;
}

.rooms:before {
  background: url("../img/rooms.png") 50% 50% no-repeat;
}

.adults:before {
  background: url("../img/adults.png") 50% 50% no-repeat;
}

.children:before {
  background: url("../img/children.png") 50% 50% no-repeat;
}

.stars:before {
  background: url("../img/star_form.png") 50% 50% no-repeat;
}

.submit {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: #fff url("../img/search.png") 50% 50% no-repeat;
  transition: .3s ease-in-out;
  &:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, .8);
  }
}

.main-header {
  background: rgba(255,255,255, .9);
}

.main-nav {
  padding: 100px 0 0;
  margin-bottom: 20px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-head {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.main-logo {
  width: 86px;
  height: 30px;
  display: block;
  overflow: hidden;
}

.menu-button {
  width: 55px;
  height: 55px;
  padding: 10px;
  background: none;
  border: none;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 2px;
  margin: 6px 0;
  display: block;
  background: #017dfb;
  transition: .3s ease-in-out;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 4px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-7px, -6px) ;
}

.nav-button {
  line-height: 35px;
  padding: 0 20px;
  display: block;
  border-radius: 25px;
  text-align: center;
  transition: .3s ease-in-out;
  &:hover {
    background: #fff;
    box-shadow: 0 0 60px rgba(1, 125, 251, .5);
    color: #017dfb;
  }
}

.intro-text {
  h2 {
    font: 9rem "Molle-Regular", sans-serif;
  }
  button:hover {
    opacity: 0.7;
  }
}

//INPUTS
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
  &:before {
    content: '';
    width: 20px;
    height: 20px;
    margin-right: 1em;
    display: inline-block;
  }
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

/* Shoko */

.input--shoko {
  overflow: hidden;
  padding-bottom: 2.5em;
}

.input__field--shoko {
  padding: 0;
  margin-top: 1.2em;
  width: 100%;
  background: transparent;
  color: #fff;
  font-size: 1.55em;
}

.input__label--shoko {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0;
  color: #fff;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: transform 0.2s 0.1s, color 0.3s;
  transition-timing-function: ease-out;
}

.graphic--shoko {
  stroke: rgba(255, 255, 255, .5);
  pointer-events: none;
  stroke-width: 2px;
  top: 1.25em;
  bottom: 0;
  height: 3.275em;
  transition: transform 0.7s, stroke 0.7s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--shoko:focus + .input__label--shoko,
.input--filled .input__label--shoko {
  color: #fff;
  transform: translate3d(0, 3.5em, 0) scale3d(0.85, 0.85, 1);
}

.input__field--shoko:focus ~ .graphic--shoko,
.input--filled .graphic--shoko {
  stroke: rgba(255, 255, 255, .5);
  transform: translate3d(-66.6%, 0, 0);
}

//PLACES
.popular-places {
  padding: 80px 0 0;
}

.popular-places-text {
  max-width: 830px;
  width: 100%;
  margin: 0 auto 80px;
  text-align: center;
}

.popular-places-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  li {
    width: 28%;
    padding: 0 0.5%;
    margin-bottom: 1%;
  }
}

.place-3 {
  width: 40% !important;
  .popular-places-link {
    overflow: hidden;
  }
}

.place-6,
.place-7 {
  width: 48% !important;
}

.popular-places-link {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.small-link,
.small-link-up {
  height: 48%;
}

.small-link-up {
  margin-bottom: 4%;
}

.middle-image {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  display: block;
  float: right;
}

.popular-places-hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 125, 251, .8);
  opacity: 0;
  transition: .5s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.places-hover-text {
  text-align: center;
  h2 {
    margin-bottom: 20px;
    font: 3vw "Roboto-Bold", sans-serif;
  }
}

.places-hover-button {
  height: 32px;
  padding: 0 20px;
  margin:0 10px 10px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 25px;
  transition: .3s ease-in-out;
  color: #fff;
  font: .9rem "Roboto-Bold", sans-serif;
  &:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, .5);
  }
}

.small-btn {
  margin: 0 0 10px;
  font-size: .6rem;
}

//HOTELS
.hotels {
  padding: 80px 0;
}

.hotels-text {
  max-width: 830px;
  width:100%;
  margin: 0 auto 80px;
  color: #bfc5d3;
  text-align: center;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hotel-link-container {
  width: 360px;
  height: 430px;
  padding: 0 15px;
  margin-bottom: 55px;
}

.hotel-link {
  height: 100%;
  display: block;
  box-shadow: 0 25px 60px rgba(0, 0, 0, .1);
}

.hotel-img-container {
  height: 75%;
  background: #c7c7c7;
}

.hotel-description {
  height: 25%;
  position: relative;
  display: flex;
}

.hotel-name,
.hotel-price {
  padding: 5%;
}

.hotel-name {
  width: 65%;
  .name {
    display: block;
    margin-bottom: 6%;
    font: 1.1rem "Myriadpro-Regular", sans-serif;
  }
}

.star {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url("../img/Star.png") 50% 50% no-repeat;
  background-size: cover;
}

.hotel-price {
  width: 35%;
  text-align: right;
  .price {
    display: block;
    font: 2.2rem "Roboto-Thin", sans-serif;
  }
  .days {
    display: block;
    font-size: .9rem;
  }
}

.hotel-button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 40%);
  box-shadow: 0 0 80px rgba(0, 0, 0, .1);
}

//SLIDER
.slider {
  padding: 325px 0;
  background: url("../img/slider-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.slider-text {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  h2 {
    font: 5.2rem "Roboto-Black", sans-serif;
  }
  p {
    margin-bottom: 30px;
    padding: 0 30px;
    font-size: 1.1rem;
    line-height: 3rem;
  }
  address {
    font: 1.1rem "Roboto-Bold", sans-serif;
    line-height: 3rem;
  }
}

.greece {
  font-family: "Streetwear", sans-serif;
  color: #0dcfff;
}

.owl-prev,
.owl-next {
  width: 50px;
  height: 100px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  background: url("../img/left-arrow.png") 50% 50% no-repeat;
}

.owl-next {
  right: 0;
  background: url("../img/right-arrow.png") 50% 50% no-repeat;
}

.owl-dots {
  width: 35px;
  height:10px;
  margin: 30px auto 0;
  overflow: hidden;
  text-align: center;
}

.owl-dot {
  width: 5px;
  height: 5px;
  margin: 0 3px;
  display: inline-block;
  float: left;
  background: #fff;
  border-radius: 50%;
  &.active {
    background: #0dcfff;
  }
}

//FOOTER
.main-footer {
  padding: 80px 0;
}

.main-footer-text {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #bdbdbd;
  h2 {
    font:5rem "Molle-Regular", sans-serif;
  }
  p {
    font-size: 1.1rem;
  }
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------MEDIA----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 100%;
  }
  .intro {
    height: auto;
  }
  .intro-text {
    margin: 27vh auto;
  }
  .search {
    display: block;
    margin: 0 auto;
  }
  .inputs-list {
    display: none;
    flex-direction: column;
  }
  .popular-places-list {
    flex-direction: column;
    align-items: center;
    li {
      width: 100% !important;
      }
    }
  .owl-nav {
    display: none;
  }
  .owl-dots{
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .main-header {
    padding: 0 15px;
  }
  .main-nav {
    .container {
      flex-direction: column;
    }
  }
  .header-head {
    width: 100%;
  }
  .menu-button {
    display: block;
  }
  .nav-list {
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 155px;
    background: rgba(255,255,255, .9);
    z-index: 100;
  }
  .nav-button {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {

  .popular-places-list li {
    width: 90% !important;
  }
}

@media only screen and (max-width: 480px) {
  .intro-text h2 {
    font: 5rem "Molle-Regular", sans-serif;
  }
  .slider-text h2 {
    font: 3.2rem "Roboto-Black", sans-serif;
  }
  .slider {
    padding: 150px 0;
  }
}